@use '../../utils' as *;

/*----------------------------------------*/
/*  4.13 directory
/*----------------------------------------*/

.rs-directory{
    &-one{
        .rs-directory-table-inner {
            background-color: var(--rs-white);
            border: 1px solid var(--rs-border-primary);
            width: max-content;
            min-width: 100%;
            thead{
                background-color: var(--rs-theme-blue);
                color: var(--rs-white);
            }
            th{
                padding: 15px 24px;
                font-weight: 600;
                font-size: 15px;
                font-family: var(--rs-ff-title);
                border-inline-end: 1px solid var(--rs-border-tertiary);
                @media #{$lg}{
                    padding: 15px 15px;
                }
            }
            td{
                padding: 15px 24px;
                vertical-align: middle;
                border: 1px solid var(--rs-border-primary);
                font-size: 15px;
                @media #{$lg}{
                    padding: 15px 15px;
                }
                a{
                    &:hover{
                        color: var(--rs-theme-blue);
                    }
                }
            }
        }
        .rs-directory-title{
            color: var(--rs-title-tertiary);
            margin-bottom: 30px;
            margin-top: 30px;
        }
        .desc {
            max-width: 440px;
            margin-top: 30px;
            margin-bottom: 0;
        }
    }
}



