@use '../../utils' as *;

/*----------------------------------------*/
/*   4.20 filter css
/*----------------------------------------*/

.rs-filter{
    &-one{
        padding-top: 90px;
        .rs-filter-wrapper{
            display: flex;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px solid var(--rs-border-primary);
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
        .rs-filter-search {
            position: relative;
            width: 410px;
            input{
                width: 100%;
                height: 50px;
                padding: 10px 50px 10px 20px;
                border: 1px solid var(--rs-border-primary);
                border-radius: 5px;
                font-size: 15px;
                color: var(--rs-title-primary);
                transition: all 0.3s ease;
                background:var(--rs-white);
                &:focus{
                    border-color: var(--rs-theme-yellow);
                }
            }
            button{
                position: absolute;
                top: 50%;
                inset-inline-end: 25px;
                color: var(--rs-black);
                font-size: 16px;
                transform: translateY(-50%);
            }
        }
    }
    &-two{
        background: var(--rs-white);
        padding: 30px;
        border-radius: 12px;
        @media #{$xl}{
            padding: 20px;
        }
        .filter-main-title {
	        font-size: 20px;
            border-bottom: 1px solid var(--rs-border-primary);
            position: relative;
            padding-bottom: 25px;
            margin-bottom: 25px;
            color: var(--rs-title-tertiary);
            &::before{
                position: absolute;
                content: "";
                width:70px;
                height: 1px;
                bottom: 0;
                inset-inline-start: 0;
                background: var(--rs-theme-blue);
            }
        }
        input[type="checkbox"] ~ label {
            color: var(--rs-text-primary);
            margin-bottom: 10px;
            font-size: 14px;
        }
        .filter-title {
            font-size: 15px;
            margin-bottom: 15px;
            color: var(--rs-title-tertiary);
        }
        input[type="checkbox"] ~ label::after {
            border: 1px solid var(--rs-border-primary);
            z-index: 1;
            width: 15px;
            height: 15px;
            line-height: 15px;
        }
        input[type="checkbox"] ~ label::before {
            z-index: 2;
            font-size: 12px;
            background: var(--rs-theme-blue);
            border-radius: 2px;
            color: var(--rs-white);
            width: 15px;
            height: 15px;
            line-height: 15px;
            top: 3px;
            inset-inline-start: 0px;
        }
        .show-more-btn {
            font-size: 14px;
            text-decoration: underline;
            color: var(--rs-title-tertiary);
            &:hover{
                color: var(--rs-theme-yellow);
            }
        }
        .filter-item{
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
    }
    &-three{
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
        .rs-filter-search {
            position: relative;
            width: 410px;
            input{
                width: 100%;
                height: 50px;
                padding: 10px 50px 10px 20px;
                border: 1px solid var(--rs-border-primary);
                border-radius: 5px;
                font-size: 15px;
                color: var(--rs-title-primary);
                transition: all 0.3s ease;
                background:var(--rs-white);
                &:focus{
                    border-color: var(--rs-theme-yellow);
                }
            }
            button{
                position: absolute;
                top: 50%;
                inset-inline-end: 25px;
                color: var(--rs-black);
                font-size: 16px;
                transform: translateY(-50%);
            }
        }
        .rs-result-count{
            font-weight: 500;
            color: var(--rs-title-tertiary);
        }
    }
}