@use '../../utils' as *;

/*----------------------------------------*/
/*  4.42 thumb css
/*----------------------------------------*/

.rs-thumb{
    &-one{
        padding-top: 40px;
        padding-bottom: 50px;
        .rs-thumb{
            img{
                width: 100%;
                border-radius: 12px;
            }
        }
    }
}