@use '../../utils' as *;

/*----------------------------------------*/
/*  3.2.1 Blog tag css
/*----------------------------------------*/

.rs-blog-tag {
  a {
    color: var(--rs-white);
    font-size: 14px;
    padding: 6px 12px 6px 12px;
    border-radius: 3px;
    background: var(--rs-theme-secondary);
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    &:hover {
      background: var(--rs-white);
      color: var(--rs-title-primary);
    }
  }
}